
form{
    width: fit-content;
    height: fit-content;
    margin: auto;
    
}

h1{
    text-align: center;
}

div{
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding-top: 200px;
}

input{
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}
