<div>
    <h1>Welcome to Gradi</h1>
    <mat-card>
        <form [formGroup]="loginForm" (ngSubmit)="onSignIn()" class="example-form">
            <mat-form-field  class="example-full-width" appearance="fill">
                <mat-label><b>Username sau Email</b></mat-label>
                <input matInput id="username" name="email" [(ngModel)]="username" username="ngModel" type="email" placeholder="Enter Username" formControlName="username" required  >
            </mat-form-field>
            <mat-form-field  class="example-full-width" appearance="fill">
                <mat-label><b>Parola</b></mat-label>
                <input matInput id="password" name="password" [(ngModel)]="password" password="ngModel" type="password"  placeholder="Enter Password" formControlName="password" required >
            </mat-form-field>
            <button id="login-button" mat-raised-button  [disabled]="!loginForm.valid">Log in</button>
        </form>
    </mat-card>
    <mat-card>
        <form *ngIf="newPasswordRequired==true" [formGroup]="newPasswordForm" (ngSubmit)="setNewPassword()" class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="email"><b>Parola Nouă</b></mat-label>
                <input matInput name="email" [(ngModel)]="newPassword" newPassword="ngModel" type="password" placeholder="Enter New Password" formControlName="newPassword" required  >
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="password"><b>Confirmă Parola Nouă</b></mat-label>
                <input matInput name="password" [(ngModel)]="newPasswordConfirm" newPasswordConfirm="ngModel" type="password"  placeholder="Confirm New Password" formControlName="newPasswordConfirm" required >
            </mat-form-field>
            <button mat-raised-button  [disabled]="!newPasswordForm.valid">Salvează Parola</button>
        </form>
    </mat-card>
</div>