<form [formGroup]="studentsForm" normal-form (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input formControlName="id" matInput>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Nume</mat-label>
        <input formControlName="lastName" matInput>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Prenume</mat-label>
        <input formControlName="firstName" matInput>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Cod Academic</mat-label>
        <input formControlName="codeAcademic" matInput>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Grupa</mat-label>
        <input formControlName="group" matInput>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>An</mat-label>
        <input formControlName="year" matInput>
    </mat-form-field>
    <br>

    <button mat-raised-button>
        <mat-icon>add</mat-icon>
    </button>
</form>