<ul class="topnav">
    <li><a routerLink="/admin-page/home">Acasa</a></li>
    <li><a routerLink="/admin-page/students-page">Studenți</a></li>
    <li><a routerLink="/admin-page/teachers-page">Profesori</a></li>
    <li><a id="subject-page" routerLink="/admin-page/subjects-page">Materii</a></li>
    <div class="right">
      <li><h1><mat-icon class="white-icon">person</mat-icon>Administrator</h1></li>
      <li><button  mat-flat-button (click)="logOut()">Logout</button></li>
    </div>
  </ul>
  
  <div class="router">
    <router-outlet> </router-outlet>
  </div>
  
  