mat-table{
    width: 100%;
    border: 30px 10px 30px 10px;
}
.mat-table {
  overflow: auto;
  max-height: 500px;
  width: 100%;
  justify-content: center;
}

mat-form-field{
  padding-left: 30px;
}

tr.mat-row:hover {
  border: 1px solid blue;
  border-radius: 10px;
}


button{
    border: 30px 10px 30px 10px;
}

.mat-row {
    height: auto;
  }
  
.mat-cell {
    padding: 10px 30px 10px 0;
}