
<div style="display: inline-flex">
    <div class="card cardDesign" style="width: 18rem; padding:20px;">
        <img src="/assets/student.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Studenți</h5>
        <p class="card-text">Vizualizeaza/Editare/Stergere Studenți</p>
        <a href="/admin-page/students-page" class="btn btn-primary">Studenți</a>
        </div>
    </div>

  <div class="card cardDesign" style="width: 18rem; padding:20px;">
    <img src="/assets/teacher.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Profesori</h5>
      <p class="card-text">Vizualizeaza/Editare/Stergere Profesori</p>
      <a href="/admin-page/teachers-page" class="btn btn-primary">Profesori</a>
    </div>
  </div>

  <div class="card cardDesign" style="width: 18rem; padding:20px;">
    <img src="/assets/education.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Materii</h5>
      <p class="card-text">Vizualizeaza/Editare/Stergere Materii</p>
      <a href="/admin-page/subjects-page" class="btn btn-primary">Materii</a>
    </div>
  </div>
</div>