.subjects-card{
    width: fit-content;
}

.inlineStyle{
    display: inline-flex;
}

.grades-card{
    width: fit-content;
}

.mat-row {
    height: auto;
}
  
.mat-cell {
    padding: 20px 60px 20px 0;
}

.labelFeedback{
    white-space: pre-wrap;
}

.selected{
    color: blue;
}

mat-list-item:hover{
    color: blue;
}

.finalGrade{
    font-size: large;
    color: blue;
}

.notGraded{
    border: 1px solid #0000ff;
    border-radius: 5px;
    width: 50%;
    padding: 0 5px;
}