.subjects-card{
    width: fit-content;
    min-width: fit-content;
}

.grades-card{
    width: 100%;
}

mat-table{
    border-spacing: 100px 0;

}

.mat-table {
    overflow: auto;
    max-height: 500px;
    width: 100%;
    justify-content: center;
  }
  
  mat-form-field{
    padding-left: 30px;
  }
  
  tr.mat-row:hover {
    border: 1px solid blue;
    border-radius: 10px;
  }
  

.inlineStyle{
    display: inline-flex;
    width: 100%;
}

.selected{
    color:blue;
}

mat-list-item:hover{
    color: blue;
}
