<form [formGroup]="subjectForm" normal-form (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill">
        <mat-label>Id</mat-label>
        <input id="id" formControlName="id" matInput>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Nume</mat-label>
        <input id="name" formControlName="name" matInput>
    </mat-form-field>
    <br>

    <button id="new-subject-page" mat-raised-button>
        <mat-icon>add</mat-icon>
    </button>
</form>